<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Test">
    <test name="Test01_test01">
        <classes>
            <class name="com.course.Test01"></class>
        </classes>
    </test>
    <listeners>
        <listener class-name="com.config.ExtentTestNGIReporterListener" />
    </listeners>
</suite>